# Ignore Python bytecode files and etc
__pycache__/
*.py[cod]
settings.json
storage_utils.py

# Ignore dirs
tutorial/
/media/
/images/

# Ignore sql files
backup.sql

# Ignore virtual environment directories
venv/
.env

# Ignore logs
logs/
*.log

# Ignore VS Code settings and extensions
.vscode/

# Ignore other OS-specific files
.DS_Store
.codegpt

# Ignore celery beat schedule files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Ignore TLS
*.key
*.crt

# Ignore certs and runtime files
# nginx/certbot/conf/*.key
nginx/certbot/conf/*.crt

ansible_automation/app_vars.yml
ansible_automation/inventory
ansible_automation/NOTE.txt
