global:
  smtp_from: 'alertmanager@yourdomain.com'
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_auth_username: '{{ email_host_user }}'
  smtp_auth_password: '{{ email_host_password }}'
  smtp_require_tls: true

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'default-email'
  routes:
  - match:
      severity: critical
    receiver: 'critical-email'
    continue: false

receivers:
- name: 'default-email'
  email_configs:
  - to: 'soheil.dalirii@gmail.com'
    send_resolved: true
    headers:
      subject: '{% raw %}[Alert] {{ .GroupLabels.alertname }} - {{ .GroupLabels.severity }}{% endraw %}'

- name: 'critical-email'
  email_configs:
  - to: 'soheil.dalirii@gmail.com'
    send_resolved: true
    headers:
      subject: '{% raw %}[CRITICAL] {{ .GroupLabels.alertname }} - Immediate Action Required!{% endraw %}'

inhibit_rules:
- source_match:
    alertname: 'InstanceDown'
    severity: 'critical'
  target_match:
    alertname: 'HighCPUUsage'
    severity: 'warning'
  equal: ['instance']
  